/*media queries breakpoints resource:
*********************************
https://www.w3schools.com/w3css/w3css_responsive.asp

*****************
*/
.global-container {

    margin: 3em 0 0 0;
}

.main-container {
    display: grid;
    grid-template-columns: 94vw;
    grid-auto-rows: min-content;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-container:last-child {

     margin: 3em 0 0 0;
}

figure img {

    width: 100%;
}
.card-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 270px);
    grid-gap: 1% 1%;
}

.cards-container {

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 270px);
    grid-gap: 1% 1%;
}

.article-container {
    width: 94vw;
    margin: 3vw auto 3vw auto;
}

.footer-container{

    display: grid;
    grid-template-columns:  94vw;
    grid-template-rows: min-content;
    grid-gap: 10px 3vw;
    justify-content: center;
    align-items: center;
    background: lightgreen;
    padding-top: 1em;
}
.subscribe-form {

    display: grid;
    grid-template-columns:  300px;
    grid-template-rows: min-content;
    justify-content: center;

}
.menu-bars {
    display: flex;
}

.nav-bar {
    display: none;
}

.arrow-r {

    transform: rotate(90deg);
}


@media (min-width: 600px) {
    .main-container, .footer-container {
        grid-template-columns: 34em;
    }
    .nav-bar {
        display: none;
    }
    .article-container {
        width: 33.75em;
        margin: 2em auto 2em auto;
    }



}

@media (min-width: 768px) {
    .main-container, .footer-container {
        grid-template-columns: 45em;
    }


    .card-container {
        grid-template-columns: 48% 48%;
        grid-template-rows: 270px 270px 270px;
    }

    .cards-container {
        grid-template-columns: 48% 48%;
        grid-template-rows: 270px 270px;
    }
    .article-container {
        width: 45em;
        margin: 2em auto 2em auto;
    }

    .nav-bar {
        display: none;
    }

    figure img {

    width: auto;
}
.decoration, .d1 {

    min-height: 10em;
    height: 10em;
}
}

@media (min-width: 992px) {
    .global-container {

        margin: 8em 0 0 0;
    }
    .main-container {

        grid-template-columns: 60em;

    }

    .footer-container {

        grid-template-columns: 400px 560px;
        grid-template-rows: 200px;

    }

    .card-container {
        grid-template-columns: 49% 49%;
        grid-template-rows: 270px 270px;
    }
    .cards-container {
        grid-template-columns:  49% 49%;
        grid-template-rows: 270px 270px;
    }


  .subscribe-form {

    display: grid;
    grid-template-columns:  1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: auto;

   }

    .article-container {
        width: 50em;
        margin: 2em auto 2em auto;
    }
    .menu-bars {
        display: none;
    }
    .nav-bar {
        display: flex;
    }

    .arrow-r {

    transform: rotate(0deg);
}
}

@media (min-width: 1300px) {
    .main-container {
        grid-template-columns: 75em;

    }

    .card-container {
        grid-template-columns: 32.66% 32.66% 32.66%;
        grid-template-rows: 270px 270px;
    }
    .cards-container {
        grid-template-columns: 32.66%  32.66%  32.66%;
        grid-template-rows: 270px;
    }

    .footer-container {

        grid-template-columns: 400px 760px;

    }

    .menu-bars {
        display: none;
    }
    .nav-bar {
        display: flex;
    }

}